/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/*=============== VARIABLES ===============*/

:root {
  --accent-color: #4d378a;
  --background-color: #1a1a1a;
  --background-color-2: #346468;
  --light-grey: #60686a;
  --border-radius: 30px;
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.content:hover::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}

/*=============== BASE ===============*/

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

h1 {
  line-height: 3rem;
  text-align: center;
}

h2 {
  line-height: 2rem;
  font-weight: normal;
  text-align: center;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*=============== MENU ===============*/

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  background: #fff;
  width: 70px;
  margin-left: 20px;
  border-radius: 35px;
  padding: 15px 0;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  font-size: 2rem;
  color: var(--light-grey);
  margin: 15px;
  position: relative;
}

.menu-icon:hover {
  color: #4d378a;
}

.menu-icon::after {
  font-family: "Poppins", sans-serif;
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 6px 12px;
  background: var(--accent-color);
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.3s;
  margin-left: 8px;
}

.menu-icon:hover::after {
  opacity: 1;
}

/* Stylize individual menu items */
.menu-icon[data-text="Home"]::after {
  content: "Home";
}

.menu-icon[data-text="About"]::after {
  content: "About";
}

.menu-icon[data-text="Projects"]::after {
  content: "Projects";
}

.menu-icon[data-text="Certification"]::after {
  content: "Certification";
}

.menu-icon[data-text="Experience"]::after {
  content: "Experience";
}

.menu-icon[data-text="Contact"]::after {
  content: "Contact";
}

/*=============== PORTFOLIO CONTAINER ===============*/

.portfolio {
  display: flex;
  background: var(--background-color-2);
  height: 80vh;
  width: 85vw;
  max-width: 1200px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

/*=============== HEADER ===============*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 790px;
  height: 100%;
  border-radius: var(--border-radius);
  color: white;
  overflow: auto;
}

.header-img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  margin-top: 100px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.header-img:hover {
  transform: rotate(360deg);
  box-shadow: 0px 0px 10px 2px rgba(255, 105, 180, 0.7);
}

.header h1 {
  font-size: 2.5rem;
}

.header h2 {
  font-size: 1rem;
}

.socials {
  margin: 20px;
}

.socials a {
  color: white;
  margin: 0 10px;
  transition: 0.2s linear;
  transition-property: background-color, color;
}

.socials a:hover {
  color: black;
  transition: 0.4s linear;
  transition-property: background-color, color;
}

#profile-link:hover {
  color: rgb(23, 182, 235);
  transition: 0.4s linear;
  transition-property: background-color, color;
}

#instagram:hover {
  color: rgb(203, 111, 111);
  transition: 0.4s linear;
  transition-property: background-color, color;
}

#spotify:hover {
  color: rgb(76, 206, 76);
  transition: 0.4s linear;
  transition-property: background-color, color;
}

#gitlab:hover {
  color: rgb(232, 42, 42);
  transition: 0.4s linear;
  transition-property: background-color, color;
}

.header .to-dashboard {
  color: #fff;
  background-color: rgba(69, 56, 56, 0.274);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.2s linear;
  transition-property: background-color, color;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.header .to-dashboard:hover {
  color: var(--accent-color);
  background-color: #fff;
  transition: 0.2s linear;
  transition-property: background-color, color;
}

.content {
  border-radius: var(--border-radius);
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0 50px;
}

/*=============== HOME SECTION ===============*/

#welcome-section h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30), blink-caret 0.5s step-end infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #000;
  }
}

.home h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 20px;
}

/*=============== ABOUT SECTION ===============*/

.about {
  display: block;
}

.about-item {
  width: 100%;
  margin: 0.5rem 0;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  animation: slide-in 1s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.image img {
  margin-right: 10px;
  max-width: 100%;
  height: auto;
}

.image img:nth-child(-n + 5) {
  margin-bottom: 20px;
}

/*=============== PROJECTS SECTION ===============*/

@keyframes glow {
  0% {
    box-shadow: 0 0 2px 1px #346468;
  }
  50% {
    box-shadow: 0 0 10px 5px #346468;
  }
  100% {
    box-shadow: 0 0 2px 1px #346468;
  }
}

.buttons {
  margin-top: 10px;
}

.button {
  display: inline-block;
  background-color: #4c9096;
  animation: glow 1s infinite;
  color: #f6f1f1;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

/* certification section */

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-tile {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-tile img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-tile:hover .overlay {
  opacity: 1;
}

.project-description {
  color: #fff;
  text-align: center;
  padding: 15px;
}

.project-description h3 {
  margin-top: 0;
}

#see {
  margin-top: 30px;
}

#see:hover {
  color: #b9d2d5;
  transition: 0.2s linear;
  transition-property: background-color, color;
}

/*=============== EXPERIENCE SECTION ===============*/

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 55px;
  height: calc(100% - 100px);
  background-color: var(--accent-color);
  z-index: 100;
}

.timeline-date {
  position: relative;
}

.timeline-date::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  left: -25px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.timeline-items {
  margin-left: 20px;
}

.timeline-item {
  margin: 50px 0;
}

/*=============== FORM ===============*/

form {
  width: 100%;
  max-width: 600px;
}

.input-box {
  display: flex;
  align-items: center;
}

.input-box input,
textarea {
  width: 100%;
  margin: 1rem;
  color: var(--accent-color);
  font-size: 1rem;
  padding-left: 0.3rem;
}

.input-box input::placeholder,
textarea::placeholder {
  color: var(--accent-color);
  font-size: 1rem;
  padding-left: 0.3rem;
}

.input-box textarea::placeholder {
  padding-top: 0.3rem;
}

.input-box input:focus,
textarea:focus {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.text-input {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--accent-color);
}

textarea {
  height: 6rem;
  border: none;
  border-bottom: solid 2px var(--accent-color);
}

.submit-btn {
  color: var(--accent-color);
  background-color: #fff;
  padding: 10px 20px;
  margin: 50px 0;
  border-radius: 30px;
  border: none;
  transition: 0.2s linear;
  transition-property: background-color, color;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  color: #fff;
  background-color: var(--accent-color);
  transition: 0.2s linear;
  transition-property: background-color, color;
  cursor: pointer;
}

/*=============== MEDIA QUERY ===============*/

@media screen and (max-width: 1200px) {
  html {
    scroll-behavior: smooth;
  }

  .container {
    height: auto;
    flex-direction: column;
  }

  .portfolio {
    flex-direction: column;
    height: 100%;
    margin: 30px 0 100px;
  }

  .content {
    padding-bottom: 100px;
  }

  .header {
    width: 100%;
    height: 100%;
  }

  .content-card {
    padding: 100px 0 0;
  }

  .menu {
    flex-direction: row;
    position: fixed;
    bottom: 15px;
    z-index: 1000;
    width: auto;
    height: fit-content;
    border-radius: 50px;
    margin: 0;
  }

  .menu-icon {
    font-size: 2rem;
    margin: 0 15px;
  }

  .home h1 {
    font-size: 3rem;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 750px) {
  .col-2 {
    grid-template-columns: 1fr;
  }

  .menu-icon {
    font-size: 1.5rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 400px) {
    .content-card {
      margin: 0 30px;
    }

    .home h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .image img {
    max-width: 100%;
    height: auto;
    align-content: center;
  }

  .image {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu-icon::after {
    display: none;
  }

  .menu-icon:hover {
    color: #4d378a;
  }
}
